
<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Order #</th>
      <th class="col-md-2">Paid</th>
      <th class="col-md-2">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="col-md-2"><%= order.id %></td>
        <td class="col-md-2"><%= order.paid %></td>
        <td class="col-md-2"><%= order.user.name %></td>
        <td class="btn btn-info btn-xs"><%= link_to 'View detail', order %></td>
        <td class="btn btn-info btn-xs"><%= link_to 'Delete order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
