<p id="notice"><%= notice %></p>

<p> Order id: <%= @order.id %></p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>You bought:</strong><br>
  <% @order.lineitems.each do |lineitem| %>
  qty: <%= lineitem.qty %>: <%= lineitem.item.title %> by
  <%= lineitem.item.desc %></br>


  <% end %>

</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
