<p id="notice"><%= notice %></p>

<p> Order id: <%= @order.id %></p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>You bought:</strong>
  <% @order.items.each do |item| %>
  <%= item.title %>
  <!-- qty: <%# lineitem.qty %> -->
  <% end %>

</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
