<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>
<div class="container">
  <div class='row'>
    <div class='col-md-8'>
      <section class='items'>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Desc</th>
              <th>Price</th>
              <th>Qty avail</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td><%= link_to "#{item.title}", item %></td>
              <td><%= item.desc %></td>
              <td><%= item.price %></td>
              <td><%= item.inv_qty %>
                <!-- <a class="btn btn-info btn-sm" href=/orders/new role="button">Add to order</a></td> -->
                <% if current_user != nil %>
                <%= link_to('Add To Order', lineitems_path(lineitem: { item_id: item.id, qty: 1, order_id: current_user.orders.first.id }),
                  class: 'btn btn-info btn-sm',
                  method: :POST) %>
                <% else %>
                <% redirect_to login %>
                <% end %>
            </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    <section>
  </div>
</div>


<br>
<!-- <%# "User logged in: #{current_user.inspect}" if current_user %> -->
