
<h2>Items in stock:</h2>
<div class="container">
  <div class='row'>
      <section class='items'>
        <table>
          <thead>
            <tr>
              <th class="col-md-4">Title</th>
              <th class="col-md-4">Author</th>
              <th class="col-md-1 col-md-offset-1">Price</th>
              <th class="col-md-1 col-md-offset-1">Qty avail</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td class="col-md-4"><%= link_to "#{item.title}", item %></td>
              <td class="col-md-4"><%= item.desc %></td>
              <td class="col-md-1 col-md-offset-1">$<%= item.price %></td>
              <td class="col-md-1 col=md-offset-1"><%= item.inv_qty %>
              <% if current_user && current_user.current_order %>
              <td class="col-md-1 col=md-offset-1">
                <%= link_to('Add To Order', lineitems_path(lineitem:
                    { item_id: item.id, qty: 1,
                    order_id: current_user.current_order.id }),
                    class: 'btn btn-info btn-xs',
                    method: :POST) %>
                  </td>
              <% end %>
              <% end %>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    <section>
  </div>
</div>


<br>
