<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>
<div class='row'>
  <div class='col-md-12'>
    <section class='items'>
      <div class='actions'>
        <div class='row'>
          <div class='col-md-8'>
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Desc</th>
                  <th>Price</th>
                  <th>Quantity in inventory</th>
                  <th colspan="8"></th>
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                  <tr>
                    <td><%= link_to "#{item.title}", item %></td>
                    <td><%= item.desc %></td>
                    <td><%= item.price %></td>
                    <td><%= item.inv_qty %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <section>
  </div>
</div>

<br>
<!-- <%# "User logged in: #{current_user.inspect}" if current_user %> -->

<!-- <%# link_to 'New Item', new_item_path %> -->
<%= link_to 'Place an order', new_order_path %>
